@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');


/* colors */

:root{
 --bg-color:#ebebeb ;
 --txt-color:#C23616 ;
 --btn-color:#0061F3 ;
 --main-text-color: #1f1f1f;
}

/* text */
h1{
    font-size: 52px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2{
    font-size: 42px;
    color: var(--main-text-color);
    font-weight: 300;
    margin: 60px;
    text-align: center;
}

h3{
    font-size: 32px;
    font-weight: 300;
    color: var(--main-text-color);
}

p{
    font-size: 18px;
    font-weight: 300;
    color: var(--main-text-color)
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* header */
header{
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--txt-color);
    position: fixed;
    width: 100%;
    background-color: var(--bg-color);
}


header ul{
    display: flex;
    justify-content: space-around;
    width: 500px;
    list-style: none;
    padding: 10px
}

header ul li a{
    text-decoration: none;
    color: var(--txt-color);
}

.logo{
    margin: 10px;
}

/* banner */

.banner{
    height: 100%;
    width: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("media/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.banner h1{
    color: rgb(255, 255, 255);
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #353535;
    opacity: 1;
    mix-blend-mode: overlay;
}

.banner-content{
    z-index: 10;
}



form{
    margin: 30px;
}

.banner-content form input{
    width: 450px;
    height: 50px;
    padding: 1rem;
    
}

.btn{
    height: 50px;
    width: 150px;
    background: var(--btn-color);
    border: none;
    color: white;
    cursor: pointer;
}

/* about */
#about{
    position: absolute;
    top: 100%;
    margin: 150px;
}

#about h2{
    margin: 25px;
    text-align: center;
}

hr{
    width: 80%;
    margin: 50px auto;
}
.grid-container-about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 500px);
    
}

.about-img{
    max-width: 90%;
    height: auto;
}

.about-text{
    margin: 0 80px;
    width: 80%;
}

.about-text h3{
    margin: 30px 0;
}

/* recipes */

#recipes{
    margin-top: 50px;
    position: absolute;
    top: 180%;
    width: 100%;
}

.grid-container-recipes{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 350px);

    justify-content: center;
    margin: 0 150px;
    gap: 20px;

}

.card{
    margin: 30px;
    border: 1px solid black;
    width: 350px;
    background: var(--bg-color);
}
.card img{
    max-width: 100%;
    border-bottom: 1px solid black;
}

.card-txt{
    height: 50px;
    display: flex;
    align-items: center;    
    font-size: 22px;
    font-weight: 400;
    justify-content: center;
}

.fa-solid{
    color: var(--btn-color);
    padding-left: 20px;
    cursor: pointer;
}